kdeconnect
autostart
cef_user_data
dconf
eog
evolution
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
kactivitymanagerdrc
kglobalshortcutsrc
htop/
tikzit
totem/
wireshark/
wireshark/
zoom.conf
zoomus.conf
ibus
libreoffice
Mattermost
mimeapps.list
monitors.xml
nautilus
nix
obs-studio
pavucontrol.ini
pcloud
pomatez
pulse
QtProject.conf
Signal
simple-scan
SweetScape
Unknown Organization'
update-notifier
user-dirs.dirs
user-dirs.locale
vlc
Yubico
Unknown Organization
enchant
FortiClient
GIMP 
Microsoft
teams
VirtualBox
